<p class="title"><%= Formbuilder.helpers.simple_format(rf.get(Formbuilder.options.mappings.LABEL)) %></p>
<p class="type">
    <!--<strong>Type</strong>: -->
    <small><%= Formbuilder.helpers.simple_format(rf.get(Formbuilder.options.mappings.FIELD_TYPE)).replace(/_/, " ") %></small>
    <!--
    &bullet;
    <strong>CID:</strong> <%= Formbuilder.attributes %>
    -->
    &bullet;<small>
    <% if (rf.get(Formbuilder.options.mappings.REQUIRED)) { %>
    Required
    <% } else { %>
    Optional
    <% } %>
    <% if (rf.get(Formbuilder.options.mappings.VALIDATION)) { %>
    &bullet; <%= rf.get(Formbuilder.options.mappings.VALIDATION) %>
    <% } %>
    <% if (rf.get(Formbuilder.options.mappings.NOTIFICATION)) { %>
    &bullet; <i class="fa fa-globe"></i>
    <% } %>
    </small>
</p>
<p><small><%= Formbuilder.helpers.simple_format(rf.get(Formbuilder.options.mappings.DESCRIPTION)) %></small></p>
