@import url(http://fonts.googleapis.com/css?family=Work+Sans:400,100,200,300,500,600)
@import "bourbon/bourbon"

html, body
    margin: 0

body
    font-family: 'Work Sans', sans-serif
    position: relative
    z-index: 0