
<div class="modal fade slide-right" id="sb_edit_model" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
        </button>
        <div class="container-xs-height full-height">
          <div class="row-xs-height">
            <div class="modal-body col-xs-height col-middle">
                <div class='sb-field-options' id='editField'>
                  <div class='sb-edit-field-wrapper'></div>
                  <div class="sb-field-options-done">
                      <button onclick='$("#editField").removeClass("active");'>Done</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade slide-up" id="sb_upload_model" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
        </button>
        <div class="container-xs-height full-height">
          <div class="row-xs-height">
            <div class="modal-body  col-middle">


                <div class="wysiwyg5-wrapper b-a b-grey">
                  <div id="sb-edit-rich"></div>
                </div>

              <form action="/file-upload" class="dropzone no-margin dz-clickable">

                    <div class="dz-default dz-message"><span>Drop files here to upload</span></div></form>

                      <button onclick='$("#editField").removeClass("active");'>Done</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

