<div class='sb-right'>
  <div id='svg-canvas'></div>
  <div class="sb-survey-description above">
      <p class="section">Introduction Screen</p>
      <div class="screen_head">
        <input type="text" placeholder="Survey Title" value="" id="survey_title">
        <textarea id="survey_description"></textarea>
        <button class="target_O"
                id = "i"
                data-target = "top_out"
                data-target-index = "0"
        ></button>
      </div>
  </div>
  <div class='sb-response-fields'>
  </div>
  <div class="sb-survey-description below">
      <p class="section">End Screen</p>
      <textarea id="survey_thank_you"></textarea>
      <button class="target_O"
              id = "j"
              data-target = "top_in"
              data-target-index = "0"
      ></button>
  </div>
</div>

      <div class="container sb-attach right" id="sb-links">
        <div class="row">
          <div class="col-xs-12">
            <h1>:(</h1>
            <span class="font-montserrat text-uppercase bold">Attach an Image</span>
          </div>
        </div>
      </div>
