<div class='sb-right'>
  <div id='svg-canvas'></div>
  <div class="sb-survey-description">
      <p class="section">Introduction Screen</p>
      <input type="text" placeholder="Survey Title" value="Facebook Market Research" id="survey_title">
      <textarea id="survey_description">Play to answer questions about your most beloved social networking website - Facebook. Help us in making a better product for you. :)</textarea>
      <button class="target_O"
              data-target = "top_out"
              data-target-index = "0"
      ></button>
  </div>
  <div class='sb-response-fields'>
  </div>
  <div class="sb-survey-description footer">
      <p class="section">End Screen</p>
      <textarea id="survey_thank_you">Thank you for contributing!</textarea>
      <button class="target_O"
              data-target = "top_in"
              data-target-index = "0"
      ></button>
  </div>
</div>
