<div class='sb-right'>
  <div id='svg-canvas'></div>
  <div class="sb-survey-description above">
      <p class="section">Introduction Screen</p>
      <div class="screen_head">
        <input type="text" placeholder="Survey Title" value="" id="survey_title">
        <textarea id="survey_description"></textarea>
        <button class="target_O"
                id = "i"
                data-target = "top_out"
                data-target-index = "0"
        ></button>
      </div>
  </div>
  <div class='sb-response-fields'>
  </div>
  <div class="sb-survey-description below">
      <p class="section">End Screen</p>
      <textarea id="survey_thank_you">Thank you for contributing!</textarea>
      <button class="target_O"
              id = "j"
              data-target = "top_in"
              data-target-index = "0"
      ></button>
  </div>
</div>
