<div class='fb-left'>
    <div class="header">
        <h2>Sample Survey</h2>
        <button class='js-save-form'></button>
        <button class='play-now' onclick="Router.play();">Play Now!</button>
    </div>

    <div class="content">
        <h2>Question Type</h2>
        <div class='fb-tab-content' data-intro='Choose to add Question.' data-position='right'>
            <%= Formbuilder.templates['partials/add_field']() %>
            <%= Formbuilder.templates['partials/edit_field']() %>
        </div>

        <!--h3>Generic Help Text here</h3-->
        <p>Go ahead, build your survey. Then click "Play Now" to see the magic.</p>
    </div>

    <div class="footer">
        <p><img src="vendor/img/survaider.png">Survaider Builder</p>
        <p>v0.1.2 Pre-Alpha</p>
        <p><a href="https://github.com/PrashntS/survaider-builder">GitHub</a></p>
    </div>
</div>