<div class='fb-right'>
  <div id='svg-canvas'></div>
  <div class="fb-survey-description header">
      <p class="section">Introduction Screen</p>
      <input type="text" placeholder="Survey Title" value="Survey Title" id="survey_title">
      <textarea id="survey_description">Survey Description</textarea>
      <button class="target"
              data-target = "out"
              data-target-index = "0"
      ></button>
  </div>
  <div class='fb-response-fields'>
  </div>
  <div class="fb-survey-description footer">
      <p class="section">End Screen</p>
      <textarea id="survey_thank_you">Thank You</textarea>
      <button class="target"
              data-target = "out"
              data-target-index = "0"
      ></button>
  </div>
</div>
